# ============================================================
# Python cache
# ============================================================

__pycache__/
*.py[cod]
*$py.class


# ============================================================
# Local application data
# ============================================================

inventory.json
